@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Sofia+Sans:wght@300;500;700&display=swap);
.FyRPNGcjtnTB0TEqoAiA{position:relative;flex-grow:1}.yuWzkYXHYqVtUaZdTYFQ{font-weight:900;font-size:119px;line-height:145px;text-transform:uppercase;color:var(--bg);text-align:center}.OGcZx3VRyuhqdv_ENH2a{position:relative;padding-left:42px;display:flex;align-items:stretch;margin-top:9px}.mlZ7oQCvGvgBs2KRkk7L{line-height:20px;text-transform:uppercase;color:var(--sea)}.uLnmlWtrpkC_rqg4MAZ7{font-weight:700;font-size:42px;line-height:51px;text-transform:uppercase;color:var(--light);max-width:500px;margin:10px 0 24px 0}.AkarkDN1dHq9q07flV1_{position:relative;flex-grow:1;height:250px}.AkarkDN1dHq9q07flV1_ img{position:absolute;bottom:-15%;right:10%;max-width:unset}.c5ZwJVPkLc2humCCz2c2{display:flex;width:100%;height:570px}.o4wYW8TTHUO7U4cCrYqn{width:50%;display:flex;align-items:center;justify-content:center;flex-direction:column;position:relative;z-index:2}.o4wYW8TTHUO7U4cCrYqn:before,.o4wYW8TTHUO7U4cCrYqn:after{content:"";display:block;position:absolute}.o4wYW8TTHUO7U4cCrYqn:before{width:204px;height:170px;left:-25px;bottom:74px;background:url(imgs/2e5b53b4f48f43eace3c.png) no-repeat center/contain}.o4wYW8TTHUO7U4cCrYqn:after{width:269px;height:151px;right:-25px;bottom:-25px;background:url(imgs/ec971fae47e13444f3fe.png) no-repeat center/contain}.XM7Qe_jZR8Pt2LCTQoXp{color:var(--violet);font-weight:300;font-size:70px;line-height:85px;text-align:center}.XM7Qe_jZR8Pt2LCTQoXp span{line-height:183px;font-size:150px;display:block}.yo33P8yxyTaTdqJnKtAT{margin-top:27px}.hTAR9z8INoZ4fU15KZAA{width:50%;position:relative}.PWyy6lcrXprorbaoz4Dz{font-weight:500;font-size:20px;line-height:24px;text-align:center;color:var(--bg);position:absolute;left:50%;transform:translateX(-50%);bottom:24px}.PWyy6lcrXprorbaoz4Dz span{color:var(--violet);font-weight:700}
.XUNTSU2PrIvlb1Ylps4T{width:100%;padding:25px 22px}.uKEecMCBx3FEQmr5U865{margin-top:24px;display:flex;gap:20px;flex-wrap:wrap}.SwhWqvLp1qyjihunXTqV{background:var(--bg);border-radius:8px;overflow:hidden;width:calc(20% - 20px)}.SwhWqvLp1qyjihunXTqV:nth-child(5n){width:20%}.YUzZlFsUxh9JEu2hFErg{width:100%;height:410px;background-position:center;background-repeat:no-repeat;background-size:cover}.me7W0VqUv6CdRqr7mKSS{padding:12px;display:flex;flex-direction:column;height:calc(100% - 410px)}.xhCWkoQc7tZ_mBWHHbLn{font-weight:600;font-size:15px;line-height:18px}.VuYXWd7LZ2FwzlW3RcLA{font-weight:500;font-size:12px;line-height:15px;color:var(--grey);text-transform:uppercase;margin-top:5px;margin-bottom:28px}.YJR_39b7bVdpkJm1L_Kh{margin-top:auto;display:flex;align-items:center;justify-content:space-between}.MTxlE4M1vpqjTfBYBhbZ{display:flex;align-items:center;column-gap:5px}.nw0Ktl2m2u7O1BFNTmGj{font-weight:700;font-size:20px;line-height:24px;color:var(--violet-dark)}.Yg6qPYvinofaZ60tiAtb{font-weight:500;font-size:13px;line-height:16px;text-decoration-line:line-through;color:var(--dark-sea)}.gPgDPdUqnFDAO5FgcYPA{color:var(--dark-sea);font-weight:500;font-size:10px;line-height:12px}.QxnB3mtMuvE3L8pmfFXg{margin-top:24px;text-align:center}
.RLcwXwfkrhrWUdQbXPS1{width:100%;padding:22px}.R3vEytZ3ToCCgvREWwJV{margin-top:24px;display:flex;column-gap:20px}.TJeyj2AZu8aPRdYbL1dU{width:20%;overflow:hidden;text-align:center}.tooDGBpiVNoLC0Bo4yiH{width:100%;height:230px;background-position:center;background-repeat:no-repeat;background-size:cover}.K5JueGCuzWoFcY8h6BTa{font-weight:600;font-size:20px;line-height:24px;margin-top:20px}
.y6U2LME9InEsm8WPx6bb{display:flex;flex-grow:1;max-width:calc(100% - 324px);padding:24px;column-gap:32px;color:var(--light)}.iOVw1RwoooYeZ2c_nhSd{display:flex;flex-direction:column}.jIaxP_utVBXwK6SBtK7A{display:flex;gap:20px}.PpuIdN_S3rcmAw7HXZYB{width:375px;height:375px;background-position:center;background-repeat:no-repeat;background-size:cover;border-radius:6px}.QPJIupkX2rz2KjhahNzz{display:flex;flex-direction:column;row-gap:5px}.wf04SYOlDicEYv_3g81x{width:90px;height:90px;background-position:center;background-repeat:no-repeat;background-size:cover;border-radius:6px;cursor:pointer}.nW9rCJ6YMiZeBGKTpbs4{font-size:18px;line-height:22px;font-weight:500}.bAMQAe_ixHq1HTFyIL78{font-weight:700;font-size:20px;line-height:24px;margin:10px 0 20px 0}.hYJ82eoOw2grlfhPe3iC,.wnQK8nTjhGuxu0jSKfmK{font-size:14px;line-height:17px;text-transform:capitalize;display:flex;column-gap:16px;align-items:center}.hYJ82eoOw2grlfhPe3iC span,.wnQK8nTjhGuxu0jSKfmK span{font-size:14px;line-height:17px;color:var(--dark-sea)}.wnQK8nTjhGuxu0jSKfmK{margin:16px 0}.rlLAdwoAzhnX6oQl8eAO{display:flex;align-items:center;column-gap:5px}.ilaCMQ2A24ITNCDBs3Nr{padding:4px 8px;border-radius:8px;background:var(--bg);cursor:pointer}.ilaCMQ2A24ITNCDBs3Nr:hover,.ilaCMQ2A24ITNCDBs3Nr.gsJI2q5yKX1y1rDnLYdO{background:var(--violet)}.ADp6bjh9S5arAaE3II8D{font-weight:400;font-size:12px;line-height:15px;color:var(--grey)}.bxILDr2lvPYvGE0CoJYg{margin-top:20px;display:flex;column-gap:10px}.vqonw0CMfX0fQcZcgtEa{background:var(--dark-sea);border-radius:6px}.vqonw0CMfX0fQcZcgtEa:hover{background:#7a8690}.taLZ3ux0Wmgt199YXKH5{display:flex;align-items:center;justify-content:space-between;font-size:10px;line-height:12px;color:var(--dark-sea);margin-top:auto}.pPmWxfUZ6Y6jvrSEteCb:disabled{cursor:not-allowed;background:var(--bg)}
.uzJKYe5b3Fw9wZpfltVd{width:100%;padding:24px;flex-grow:1}.HMBrIOD6Pm43zsHQKhTm{display:flex;gap:20px;width:100%;margin-top:24px}.YzRkQezYJSOBmZLNAFCO{background:var(--bg);border-radius:8px;padding:12px 24px;width:max-content;display:flex;align-items:center;min-width:225px}.YzRkQezYJSOBmZLNAFCO input{font-weight:400;font-size:13px;line-height:16px}.YzRkQezYJSOBmZLNAFCO span{font-weight:400;font-size:13px;line-height:16px;color:var(--dark-sea);text-align:right}.hrYqI04M8yQmY4qS0FHU{width:100%}.oZfM5zjR1t0G_r5cniqz{margin:32px auto 0 auto;text-align:center}.dGz4JNpnPSHO3qFjyhBz{display:flex;align-items:center;gap:20px;margin-top:24px}
.w9fZITPgUL99HmVaCiAo{flex-grow:1;padding:24px}.aXHvP0F1a9dSnpYxVZtw{display:flex;flex-direction:column;row-gap:10px}.EJI9usKqG7vTt1WAnfyI{width:100%;background:#212123;border-radius:8px;color:var(--light);padding:12px 24px}.EJI9usKqG7vTt1WAnfyI input{width:100%}
.SOKfWLHyHliBTS7c2QXA{width:calc(100% - 324px);padding:24px 32px;display:flex;flex-direction:column}.dF3VrljdF5Y1dutmRqMA{margin-top:24px;font-size:24px;line-height:30px;color:var(--light)}.n9l9gUe9VrmQuPJtkIV8{display:flex;flex-direction:column;row-gap:8px;margin-top:16px;margin-bottom:24px}.Pm5wPFgY_aFYbgkOUSFQ{border-radius:8px;background:var(--bg);width:100%;padding:12px 16px;display:grid;grid-template-columns:100px 2fr 1fr 1.5fr 1fr 16px;align-items:center;height:70px}.wAEk3BBQZbE6pZho7X_m{background-position:center;background-repeat:no-repeat;background-size:cover;border-radius:6px;height:100%}.bHaTfRDtQb7Xip7EVHGG{margin-left:16px;display:flex;flex-direction:column;row-gap:4px}.qf6Hzpn3FHUZLv0mcir_{font-weight:600;font-size:13px;line-height:16px}.eNozWzQdCejXOhDbJMtV{font-size:10px;line-height:12px;color:var(--grey)}.QE2kSVy94jPlBMFrjzEQ{font-size:14px;line-height:18px}.kGu6Ig_m9GfS5zLhkUyw{display:flex;align-items:center}.kGu6Ig_m9GfS5zLhkUyw span{width:40px;text-align:center;font-size:14px;line-height:17px;color:var(--dark-sea)}.kGu6Ig_m9GfS5zLhkUyw svg{width:17px;height:17px;fill:rgba(255,255,255,.5)}.wkPkb9GdBDXQ9SugdMWM,.MkwMhIat776YviB5adCX{background:var(--dark-sea);border-radius:6px;width:25px;height:25px;display:flex;align-items:center;justify-content:center;cursor:pointer}.wkPkb9GdBDXQ9SugdMWM:hover,.MkwMhIat776YviB5adCX:hover{background:var(--violet)}.wkPkb9GdBDXQ9SugdMWM:hover svg,.MkwMhIat776YviB5adCX:hover svg{fill:#fff}.Hn0I1GHd1TYnJxpMS9ld{cursor:pointer}.Hn0I1GHd1TYnJxpMS9ld svg{width:16px;height:16px;stroke:rgba(255,255,255,.5)}.Hn0I1GHd1TYnJxpMS9ld:hover svg{stroke:#fff}.UNWEW5PjASZYEOtnilLe{display:flex;justify-content:space-between;align-items:center;margin-top:auto}.T_KsYBai0MyXKBusk4SV{font-weight:600;font-size:20px;line-height:24px;color:var(--grey)}.T_KsYBai0MyXKBusk4SV span{color:#fff}
.XkcOPUsAKp8FPRAW0yHC{width:304px;padding:24px;height:423px;display:flex;flex-direction:column}.NXZ01oBtH146uNQ7K5X_{font-weight:600;line-height:20px}.sWMZgR6KAHP6v4CZDvhv{margin-top:32px;display:flex;flex-direction:column;row-gap:12px}.VV9wdlFQnmqELEPzkafa{color:var(--dark-sea);font-size:14px;line-height:17px;text-transform:capitalize}.VV9wdlFQnmqELEPzkafa:hover{color:var(--white)}.VV9wdlFQnmqELEPzkafa.OR42kuQcy4c7mq7vgA9P{color:var(--violet)}.r797TJ598NmPM30X7EPU{margin-top:auto;display:flex;justify-content:space-between}
.hwVSsVfztKSITmiGTiAq{width:100%;display:flex;align-items:center;padding:25px 20px}.encBYzPJj5STy5_zNYWw{width:304px}.zDYsPP_OuuCUCSWKmI_v{display:flex;align-items:center;justify-content:space-between;flex-grow:1}.l2rEzws0t1muGivv3JPD{display:flex;align-items:center;column-gap:10px;cursor:pointer}.OUZQGkgLRlaq1XKS6PCd{width:36px;height:36px;border-radius:50%;background:var(--dark);background-repeat:no-repeat;background-position:center;background-size:cover}.aUbObEVxrFgWyb4LWB3b{font-size:10px;line-height:12px;color:var(--grey)}.BvoMGkMwXVBMH8zaI1_x{display:flex;align-items:center;background:var(--dark);border-radius:6px;height:27px;padding:7px 10px;column-gap:16px;width:300px;position:relative}.FpojhbveMEREkp1vNxpL{width:13px;height:13px}.FpojhbveMEREkp1vNxpL svg{width:100%;height:100%;fill:var(--dark-sea)}.qOHl0dEc_f4yEAo1W64J{flex-grow:1;position:relative}.qOHl0dEc_f4yEAo1W64J input{font-family:Montserrat,Roboto,sans-serif;font-size:12px;line-height:14px;color:var(--grey);background:none;outline:none;width:100%}.Zbque5r3aUblU400mkaQ{display:flex;flex-direction:column;gap:10px;padding:10px;background:var(--dark);position:absolute;z-index:2}.Zbque5r3aUblU400mkaQ li{display:flex;gap:10px}.Zbque5r3aUblU400mkaQ li img{object-fit:contain;width:25px}.cJMEmD6zhkzOHP5YYCCZ{display:flex;align-items:center;column-gap:20px}.cJMEmD6zhkzOHP5YYCCZ svg{width:24px;height:24px}.LOQ1uRop5pySDik7CfdO{cursor:pointer}.Q5Qjy_yxk4BLc2BrUVev{stroke:var(--grey);fill:none}.W5EzH6rEXZ8LR_t9fq2t{fill:var(--grey)}.W5EzH6rEXZ8LR_t9fq2t:hover{stroke:var(--white);fill:var(--white)}.Rs4OhgK1vD1bnwLhXRKn{position:relative}.GTKTR3bR9URm6u6kmO20{position:absolute;width:14px;height:14px;background:var(--violet);right:-2px;bottom:-2px;border-radius:50%;font-weight:700;font-size:10px;color:var(--light);text-align:center;line-height:16px}.IGh2ORPSRg4MY77dWEaa{z-index:9;top:120%;position:absolute;width:100%;left:0;max-height:300px;overflow-y:auto;padding:12px;display:flex;flex-direction:column;row-gap:8px;background:var(--dark-sea);border-radius:8px}.IGh2ORPSRg4MY77dWEaa::-webkit-scrollbar{display:none}.YdnF8sup9D5l6KIB6XcM{font-size:13px;color:var(--grey);display:flex;align-items:center;column-gap:16px}.YdnF8sup9D5l6KIB6XcM:hover{color:var(--light)}.gNZzAzyqObQsMBjXZqqf{background-position:center;background-repeat:no-repeat;background-size:cover;border-radius:6px;height:50px;width:50px}
.leAuH_5DXUwT8d4LRTQk{display:flex;align-items:center;justify-content:space-between;margin-top:20px;padding:24px}.z_z2LRMo98pkS6Xsahqx{width:61px}.z_z2LRMo98pkS6Xsahqx a{height:100%}.fcbyUsfxpFoCZjt6_09w{color:var(--dark-sea);font-size:12px;line-height:15px}.fcbyUsfxpFoCZjt6_09w a{color:var(--violet)}.P53aox1argMH_mMyfNB3{display:flex;gap:15px}.P53aox1argMH_mMyfNB3 svg{width:24px;height:24px;fill:var(--dark-sea)}.P53aox1argMH_mMyfNB3 svg:hover{fill:var(--violet)}
:root {
  --bg: #212123;
  --dark: #191919;
  --dark-sea: #576067;
  --grey: #b8b8b8;
  --white: #fff;
  --violet: #8b57c6;
  --violet-dark: #6c3eb8;
  --light: #f6f6f7;
  --sea: #616e74;
}

body,html{
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
body {
  background: var(--bg);
  font-size: 16px;
  line-height: 16px;
  font-family: Montserrat, Roboto, sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #fff;
  font-weight: 500;
  padding: 0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-family: Montserrat, Roboto, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app {
  width: 1274px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.icon {
  width: 12px;
  height: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

section {
  background: var(--dark);
  border-radius: 6px;
}

button {
  background: var(--violet-dark);
  border-radius: 6px;
  padding: 9px 20px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  &:hover {
    background: var(--violet);
  }
}


h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input {
  padding: 0;
}

.preloader {
  flex-grow: 1;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.D6cdhZHT7iYm8NAJBnzL{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(33,33,35,.8);z-index:98}.wcuH_NthQ0r2bvHSosx3{position:fixed;top:0;right:0;background:var(--dark);width:320px;height:100vh;z-index:99;padding:24px}.AkH_gEWbqVClDeGKob6g{font-weight:400;font-size:15px;line-height:18px;color:var(--light);text-align:center}.e8Sp6nGDnqK3LQNBxBPU{margin-top:24px;display:flex;width:100%;flex-direction:column;row-gap:16px}.Ib7YKOX6ama5nqIkVGMw input{width:100%;background:#212123;border-radius:8px;color:var(--light);padding:12px 24px}.Wmh9NNkUAV0JbCip7s_F{font-weight:500;line-height:20px}.DMCttXFAbxVQq5PEnUiw{position:absolute;top:14px;right:14px;z-index:9;cursor:pointer}.DMCttXFAbxVQq5PEnUiw svg{width:20px;height:20px;stroke:var(--dark-sea)}.DMCttXFAbxVQq5PEnUiw:hover svg{stroke:#fff}.ecX9T7M0MW3d79RrKago{font-size:13px;color:var(--dark-sea);cursor:pointer;text-align:center}.ecX9T7M0MW3d79RrKago:hover{color:var(--light)}
