@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Sofia+Sans:wght@300;500;700&display=swap);
.L3jgsjCFzRwa6QBsb0XW{position:relative;flex-grow:1}.ZgyQ7V4c8Tep63wrXWXy{font-weight:900;font-size:119px;line-height:145px;text-transform:uppercase;color:var(--bg);text-align:center}.ZZ4mNxA_pD_nxYnQpwGE{position:relative;padding-left:42px;display:flex;align-items:stretch;margin-top:9px}.wEj1BeU4AWS9G3bF33yl{line-height:20px;text-transform:uppercase;color:var(--sea)}.lOED0vHUBowNhzVutYgc{font-weight:700;font-size:42px;line-height:51px;text-transform:uppercase;color:var(--light);max-width:500px;margin:10px 0 24px 0}.DzQAlfdqaU4B3srtQGK6{position:relative;flex-grow:1;height:250px}.DzQAlfdqaU4B3srtQGK6 img{position:absolute;bottom:-15%;right:10%;max-width:none;max-width:initial}.voji63UZqYY1ARJhI0tt{display:flex;width:100%;height:570px}.QE5PvPCspicH5BWaCUiK{width:50%;display:flex;align-items:center;justify-content:center;flex-direction:column;position:relative;z-index:2}.QE5PvPCspicH5BWaCUiK:before,.QE5PvPCspicH5BWaCUiK:after{content:"";display:block;position:absolute}.QE5PvPCspicH5BWaCUiK:before{width:204px;height:170px;left:-25px;bottom:74px;background:url(imgs/2e5b53b4f48f43eace3c.png) no-repeat center/contain}.QE5PvPCspicH5BWaCUiK:after{width:269px;height:151px;right:-25px;bottom:-25px;background:url(imgs/ec971fae47e13444f3fe.png) no-repeat center/contain}.gM6qCuujZZiLD6ynjARK{color:var(--violet);font-weight:300;font-size:70px;line-height:85px;text-align:center}.gM6qCuujZZiLD6ynjARK span{line-height:183px;font-size:150px;display:block}.xKJq1fy1TrUa5_qHMA4X{margin-top:27px}.yCdjHR9ilTasEiiPQ3fW{width:50%;position:relative}.Sqa8bUv4CTUghDjIbYJY{font-weight:500;font-size:20px;line-height:24px;text-align:center;color:var(--bg);position:absolute;left:50%;transform:translateX(-50%);bottom:24px}.Sqa8bUv4CTUghDjIbYJY span{color:var(--violet);font-weight:700}
.TbonYpK2dSccu0VsGC1x{width:100%;padding:25px 22px}.nW6o9w44uaTOc5s0kVtB{margin-top:24px;display:flex;gap:20px;flex-wrap:wrap}.JZVUCYNuvKmMefrp3iuU{background:var(--bg);border-radius:8px;overflow:hidden;width:calc(20% - 20px)}.JZVUCYNuvKmMefrp3iuU:nth-child(5n){width:20%}.O14HOAjXHK6H7Cum71nd{width:100%;height:410px;background-position:center;background-repeat:no-repeat;background-size:cover}.HSCsl_638a3EqqZa2GLE{padding:12px;display:flex;flex-direction:column;height:calc(100% - 410px)}.XEU3SeCusi3bl3xIysy6{font-weight:600;font-size:15px;line-height:18px}.VIk9HT2xJUhfEVJd2pRl{font-weight:500;font-size:12px;line-height:15px;color:var(--grey);text-transform:uppercase;margin-top:5px;margin-bottom:28px}.nulZjCKKlgWVNa99sOfm{margin-top:auto;display:flex;align-items:center;justify-content:space-between}.DCfc6mqYL56biFUGUFRw{display:flex;align-items:center;-moz-column-gap:5px;column-gap:5px}.LjMB9cD1W8SFlmQ6W2EF{font-weight:700;font-size:20px;line-height:24px;color:var(--violet-dark)}.e5hGYZp4BcNz7O4TWpts{font-weight:500;font-size:13px;line-height:16px;text-decoration-line:line-through;color:var(--dark-sea)}.z0wGmJ7MV1hPJ3gHjRaS{color:var(--dark-sea);font-weight:500;font-size:10px;line-height:12px}.lb091vuhQW9w0z6W5QbI{margin-top:24px;text-align:center}
.N1HDDGhBeqPybTj5J_7Q{width:100%;padding:22px}.LCGKYzaEAA89vl_oyUH_{margin-top:24px;display:flex;-moz-column-gap:20px;column-gap:20px}.j66VuugLThIDESi12bj3{width:20%;overflow:hidden;text-align:center}.q1owG0H359yoGewxZ_BQ{width:100%;height:230px;background-position:center;background-repeat:no-repeat;background-size:cover}.qV3ojX9wzehG4gTu7QI_{font-weight:600;font-size:20px;line-height:24px;margin-top:20px}
.ERyzJAgheIIFxX6IsuaU{display:flex;flex-grow:1;max-width:calc(100% - 324px);padding:24px;-moz-column-gap:32px;column-gap:32px;color:var(--light)}.vYG911aR305exHWXnL6A{display:flex;flex-direction:column}.k9nZpwpZxZ0azrGQ1sM2{display:flex;gap:20px}.fCNyehe88LmhFoPNl4FA{width:375px;height:375px;background-position:center;background-repeat:no-repeat;background-size:cover;border-radius:6px}.qLqmaoci9JR_CS93p18F{display:flex;flex-direction:column;row-gap:5px}.qvwWsCzAWU40wCL6s3qL{width:90px;height:90px;background-position:center;background-repeat:no-repeat;background-size:cover;border-radius:6px;cursor:pointer}.Ko1WPfCZJhXnJbKuYduZ{font-size:18px;line-height:22px;font-weight:500}.tw5Bbdu8UjJ2V_EHAEu7{font-weight:700;font-size:20px;line-height:24px;margin:10px 0 20px 0}.TKmBDafpjlIHTC2_ETWG,.hMN_WIGDLaT5rlVUL3oy{font-size:14px;line-height:17px;text-transform:capitalize;display:flex;-moz-column-gap:16px;column-gap:16px;align-items:center}.hMN_WIGDLaT5rlVUL3oy{margin:16px 0}.TKmBDafpjlIHTC2_ETWG span,.hMN_WIGDLaT5rlVUL3oy span{font-size:14px;line-height:17px;color:var(--dark-sea)}.GIGOCc8ISwLmLV2rte5f{display:flex;align-items:center;-moz-column-gap:5px;column-gap:5px}.IRm2ig5aq3KNQ8xBJXdp{padding:4px 8px;border-radius:8px;background:var(--bg);cursor:pointer}.IRm2ig5aq3KNQ8xBJXdp:hover,.IRm2ig5aq3KNQ8xBJXdp.icXqfwCYTnIv0V4bZiBK{background:var(--violet)}.PZeNnjOZzqp2u1kMBlzD{font-weight:400;font-size:12px;line-height:15px;color:var(--grey)}.Ow_xHyz6hBXGnV9QQd0T{margin-top:20px;display:flex;-moz-column-gap:10px;column-gap:10px}.GE8W1F8ZWsSDiKmyYaa0{background:var(--dark-sea);border-radius:6px}.GE8W1F8ZWsSDiKmyYaa0:hover{background:#7a8690}.KYvKosTcLIUUtwMOT1nQ{display:flex;align-items:center;justify-content:space-between;font-size:10px;line-height:12px;color:var(--dark-sea);margin-top:auto}.XCpmwZJgAV1AYcwQP5vr:disabled{cursor:not-allowed;background:var(--bg)}
.wj4aOrS9bopa9JX2USrY{width:100%;padding:24px;flex-grow:1}.TyHNELfOGb5NQ_Unt6DX{display:flex;gap:20px;width:100%;margin-top:24px}._g1GUbtqUyQRolkN_aE2{background:var(--bg);border-radius:8px;padding:12px 24px;width:-moz-max-content;width:max-content;display:flex;align-items:center;min-width:225px}.bqlvoGwLHAwVUYMCWoU3{width:100%}._g1GUbtqUyQRolkN_aE2 input{font-weight:400;font-size:13px;line-height:16px}._g1GUbtqUyQRolkN_aE2 span{font-weight:400;font-size:13px;line-height:16px;color:var(--dark-sea);text-align:right}.gYKAcvkLIjdrNWks7RdD{margin:32px auto 0 auto;text-align:center}._Q6O_5ilAV14QmhJbEt6{display:flex;align-items:center;gap:20px;margin-top:24px}
.tI1W6vPBmAeK7KBJPYNq{flex-grow:1;padding:24px}.cQHXyCorf7wInkjsfbSb{display:flex;flex-direction:column;row-gap:10px}.Z48IqUAQeTkOa_zwrjI5{width:100%;background:#212123;border-radius:8px;color:var(--light);padding:12px 24px}.Z48IqUAQeTkOa_zwrjI5 input{width:100%}
.uHPTebNnGy8eRfXLun6G{width:calc(100% - 324px);padding:24px 32px;display:flex;flex-direction:column}.ydrw7N54oomUSCmP1rlK{margin-top:24px;font-size:24px;line-height:30px;color:var(--light)}.TMgasf6KGdsLeBeWOey3{display:flex;flex-direction:column;row-gap:8px;margin-top:16px;margin-bottom:24px}.sV8e8SQgkG2bxjfdZFsr{border-radius:8px;background:var(--bg);width:100%;padding:12px 16px;display:grid;grid-template-columns:100px 2fr 1fr 1.5fr 1fr 16px;align-items:center;height:70px}.BKNDZDROE8Fy4CHu7Nx8{background-position:center;background-repeat:no-repeat;background-size:cover;border-radius:6px;height:100%}.wgvG29s1D97BELDxf8gO{margin-left:16px;display:flex;flex-direction:column;row-gap:4px}.bjtroQPievXl6dxqZC8S{font-weight:600;font-size:13px;line-height:16px}.Pr4l3BISyN5e7RJKbAGh{font-size:10px;line-height:12px;color:var(--grey)}.HrHpD4t2UMbAgBKNbGSb{font-size:14px;line-height:18px}.G025CaVqaC3JmpePb8Fh{display:flex;align-items:center}.G025CaVqaC3JmpePb8Fh span{width:40px;text-align:center;font-size:14px;line-height:17px;color:var(--dark-sea)}.QI9vIR8e9SS4nSJ6dKm3,.Qoe8rHZj5YzofiW1rbB5{background:var(--dark-sea);border-radius:6px;width:25px;height:25px;display:flex;align-items:center;justify-content:center;cursor:pointer}.G025CaVqaC3JmpePb8Fh svg{width:17px;height:17px;fill:rgba(255,255,255,.5)}.Qoe8rHZj5YzofiW1rbB5:hover,.QI9vIR8e9SS4nSJ6dKm3:hover{background:var(--violet)}.Qoe8rHZj5YzofiW1rbB5:hover svg,.QI9vIR8e9SS4nSJ6dKm3:hover svg{fill:#fff}.aYkorCWCbMpibCy1LVMg{cursor:pointer}.aYkorCWCbMpibCy1LVMg svg{width:16px;height:16px;stroke:rgba(255,255,255,.5)}.aYkorCWCbMpibCy1LVMg:hover svg{stroke:#fff}.nbWxTZPo6TNMxIGoIcQq{display:flex;justify-content:space-between;align-items:center;margin-top:auto}.ZNmdQVM7WsHGtlfuPuxR{font-weight:600;font-size:20px;line-height:24px;color:var(--grey)}.ZNmdQVM7WsHGtlfuPuxR span{color:#fff}
.yM0T0DRuRr14hjocR2LK{width:304px;padding:24px;height:423px;display:flex;flex-direction:column}.SMbYmRggf24VLLqaUgGP{font-weight:600;line-height:20px}.Wo4hOWscUORkbKiePICm{margin-top:32px;display:flex;flex-direction:column;row-gap:12px}.rN6cYVx4p7rdipQF8DFe{color:var(--dark-sea);font-size:14px;line-height:17px;text-transform:capitalize}.rN6cYVx4p7rdipQF8DFe:hover{color:var(--white)}.rN6cYVx4p7rdipQF8DFe.G4_zEdKvB99UnkYmsw3D{color:var(--violet)}.LOsXwFv0ooiSrmG2hZaB{margin-top:auto;display:flex;justify-content:space-between}
.kV4uOjMsvx4BUJYZEwFB{width:100%;display:flex;align-items:center;padding:25px 20px}.zUrs7zkxqf9oRmoORrOl{width:304px}.zgej4S2QO0WYgyfWF8Zy{display:flex;align-items:center;justify-content:space-between;flex-grow:1}.SuDMbZGwCSWNSPPci6Lv{display:flex;align-items:center;-moz-column-gap:10px;column-gap:10px;cursor:pointer}.d8lvPQ3h1Gc1XlRhRf5w{width:36px;height:36px;border-radius:50%;background:var(--dark);background-repeat:no-repeat;background-position:center;background-size:cover}.KiCPnpweEdL0p1Ipqyp7{font-size:10px;line-height:12px;color:var(--grey)}.eofZCaVd4It4NAxBWgef{display:flex;align-items:center;background:var(--dark);border-radius:6px;height:27px;padding:7px 10px;-moz-column-gap:16px;column-gap:16px;width:300px;position:relative}._dLxqrn_yaJWIwhzBV3Q{width:13px;height:13px}._dLxqrn_yaJWIwhzBV3Q svg{width:100%;height:100%;fill:var(--dark-sea)}.hOwx7zq7ooHmGPNTUrIM{flex-grow:1;position:relative}.hOwx7zq7ooHmGPNTUrIM input{font-family:Montserrat,Roboto,sans-serif;font-size:12px;line-height:14px;color:var(--grey);background:none;outline:none;width:100%}.xSVryp5Ht31EqLkf94kq{display:flex;flex-direction:column;gap:10px;padding:10px;background:var(--dark);position:absolute;z-index:2}.xSVryp5Ht31EqLkf94kq li{display:flex;gap:10px}.xSVryp5Ht31EqLkf94kq li img{-o-object-fit:contain;object-fit:contain;width:25px}.Ng7IQeVtcKF1AhWBTwTa{display:flex;align-items:center;-moz-column-gap:20px;column-gap:20px}.qe63Av3we2cFrkH9ou7W{cursor:pointer}.Ng7IQeVtcKF1AhWBTwTa svg{width:24px;height:24px}.iaG_mDLqvoIMSpudgMkU{stroke:var(--grey);fill:none}.jPacs8STq8PilohyMDEx{fill:var(--grey)}.iaG_mDLqvoIMSpudgMkU:hover{stroke:var(--white)}.jPacs8STq8PilohyMDEx:hover{fill:var(--white)}.uUDSvti9KE2ZfwAgHNMo{position:relative}.yTaJE0ARPOh2mRIEVDMn{position:absolute;width:14px;height:14px;background:var(--violet);right:-2px;bottom:-2px;border-radius:50%;font-weight:700;font-size:10px;color:var(--light);text-align:center;line-height:16px}.eTIB67cGsnW54fHRwmVP{z-index:9;top:120%;position:absolute;width:100%;left:0;max-height:300px;overflow-y:auto;padding:12px;display:flex;flex-direction:column;row-gap:8px;background:var(--dark-sea);border-radius:8px}.eTIB67cGsnW54fHRwmVP::-webkit-scrollbar{display:none}.YbQwhJhjxPfUzvbI0Yqi{font-size:13px;color:var(--grey);display:flex;align-items:center;-moz-column-gap:16px;column-gap:16px}.YbQwhJhjxPfUzvbI0Yqi:hover{color:var(--light)}.QlfOJNaQPfULvqq_4K0X{background-position:center;background-repeat:no-repeat;background-size:cover;border-radius:6px;height:50px;width:50px}
.PrQFoTtL8lqZAa3h5N4v{display:flex;align-items:center;justify-content:space-between;margin-top:20px;padding:24px}.pQxr2uDa3mdVKz6yFTWa{width:61px}.pQxr2uDa3mdVKz6yFTWa a{height:100%}.dOnJdbSOP7Wa8eR0R2JM{color:var(--dark-sea);font-size:12px;line-height:15px}.dOnJdbSOP7Wa8eR0R2JM a{color:var(--violet)}.l8Fhay5aAnBVllXVWnZC{display:flex;gap:15px}.l8Fhay5aAnBVllXVWnZC svg{width:24px;height:24px;fill:var(--dark-sea)}.l8Fhay5aAnBVllXVWnZC svg:hover{fill:var(--violet)}
:root {
  --bg: #212123;
  --dark: #191919;
  --dark-sea: #576067;
  --grey: #b8b8b8;
  --white: #fff;
  --violet: #8b57c6;
  --violet-dark: #6c3eb8;
  --light: #f6f6f7;
  --sea: #616e74;
}

body {
  background: var(--bg);
  font-size: 16px;
  line-height: 16px;
  font-family: Montserrat, Roboto, sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #fff;
  font-weight: 500;
  padding: 0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-family: Montserrat, Roboto, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app {
  width: 1274px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.icon {
  width: 12px;
  height: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

section {
  background: var(--dark);
  border-radius: 6px;
}

button {
  background: var(--violet-dark);
  border-radius: 6px;
  padding: 9px 20px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

button:hover {
  background: var(--violet);
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input {
  padding: 0;
}

.preloader {
  flex-grow: 1;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Pcg0xkEy5IHtpc1T1TPg{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(33,33,35,.8);z-index:98}.MRYPLIbEN7LPKGd1RHur{position:fixed;top:0;right:0;background:var(--dark);width:320px;height:100vh;z-index:99;padding:24px}.eOAtKySqaWSPG_8yHfvl{font-weight:400;font-size:15px;line-height:18px;color:var(--light);text-align:center}.L4U1n6GGLJ0DrpWCggcc{margin-top:24px;display:flex;width:100%;flex-direction:column;row-gap:16px}.QtMwbg1G7Fohuf053DzB input{width:100%;background:#212123;border-radius:8px;color:var(--light);padding:12px 24px}.M2qgZoGoL535_stoX0V6{font-weight:500;line-height:20px}.ncesLdYBvacuYfhaqYfF{position:absolute;top:14px;right:14px;z-index:9;cursor:pointer}.ncesLdYBvacuYfhaqYfF svg{width:20px;height:20px;stroke:var(--dark-sea)}.ncesLdYBvacuYfhaqYfF:hover svg{stroke:#fff}.alpY5JePvY5i9kBJBSw9{font-size:13px;color:var(--dark-sea);cursor:pointer;text-align:center}.alpY5JePvY5i9kBJBSw9:hover{color:var(--light)}
